name: Build and Release Backend CoffeeDer
run-name: Building and Releasing Backend CoffeeDer

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/mohamaddimasprayoga1010/coffeeder-express:latest
            ghcr.io/mohamaddimasprayoga1010/coffeeder-express:${{ github.ref_name }}

      - name: Execute remote SSH commands using SSH key
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.KEY }}
          port: 9050
          script: |
            cd ~/server-express && docker compose pull && docker compose up backend -d
            docker system prune -a --volumes -f
